/* Start Header */
.head h1 {
    font-size: 25px;
  }
  nav ul li a {
    font-size: 15px;
  }
/* End Header */
/* Start Input */
.input-area {
  margin-top: 10px;
}
.search-box {
  display: block;
  position: relative;
}
.search-area {
  width: 90%;
  text-align: center;
  margin: 10px auto;
}
.offer {
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 70%;
}
.offer-a span.post {
  font-size: 22px;
}
/* End Input */
/* Start Features */
.features-list {
  width: 100%;
}
.features .container {
  width: 95%;
}
.features-list ul li {
  margin-right: 10px;
  padding: 5px 15px;
}
.features-image li.MG-class {
  display: block;
}
.features-list ul li a {
  font-size: 15px;
}
.MG-class {
  margin-top: -10px;
}
.features-image li a img.MG-image {
  width: 90px;
}
.features-image li a p.MG-p{
  margin-top: 3px;
}
/* End Features */
/* <!-- Start Media --> */
.media .container {
  width: 95%;
}
.media .container .head h2 {
  font-size: 25px;
}
.media .container .head p {
  font-size: 18px;
  line-height:2;
}
.media .container .head p a.ads-span {
  font-size: 18px;
  padding: 2px 5px;
}
.mobile {
  display: block;
}
/* <!-- End Media --> */
/* Start Footer */
.footer {
  text-align: center;
}
.footer-head {
  border-bottom: 1px solid #b9b9b9;
  border-right-color: transparent;
  padding-bottom: 15px;
}
.footer-head h1 {
  font-size: 25px;
}
.footer-text {
  margin-top: -10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b9b9b9;
  border-right-color: transparent;
  font-size: 17px;
  line-height: 1.8;
}
.footer-info p {
  font-size: 17px;
}
.footer-info a {
  font-size: 17px;
}
.footer-info p.follow-us {
  font-size: 17px;
}
.foot2 {
  font-size: 15px;
}
/* End Footer */